fastapi
uvicorn

langchain
langchain-community
langchain-core
langchain-google-genai
langchain-openai
langchain-qdrant
langchain-text-splitters
fastembed

langgraph
langgraph-checkpoint
langgraph-checkpoint-sqlite
langgraph-prebuilt

qdrant-client

duckduckgo-search

openai
google-genai

python-dotenv

pydantic
pydantic-settings

SQLAlchemy
aiosqlite

tiktoken